.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f9fafb; 
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 6px 12px;
  width: 100%;
  max-width: 320px;

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #374151; 
    padding-right: 28px; 
  }

  .search-icon {
    position: absolute;
    right: 12px;
    color: #6b7280; 
    font-size: 20px;
    pointer-events: none;
  }
}


/* .custom-search-bar {
    width: 100%;
    max-width: 400px;
    padding: 8px 8px;
  } */
  /* .search-wrapper {
    position: relative;
    width: 100%;
    max-width: 350px;
  
    input {
      width: 100%;
      padding: 10px 36px 10px 14px;
      border: 1px solid #e5e7eb; 
      border-radius: 9999px; 
      background-color: #f9fafb; 
      font-size: 14px;
      outline: none;
  
      &:focus {
        border-color: #cbd5e1; 
      }
    }
  
    .search-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: #6b7280; 
    }
  }
   */