<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search"
  />
  <mat-icon class="search-icon">search</mat-icon>
</div>


<!-- <mat-form-field appearance="outline" class="custom-search-bar">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchQuery" placeholder="Type to search..." />
    <button mat-icon-button matSuffix aria-label="Search" (click)="onSearch()">
      <span class="search-icon">
        <mat-icon>search</mat-icon>
      </span>
    </button>
</mat-form-field>
   -->
   <!-- <div class="search-wrapper">
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
    />
    <span class="search-icon">
      <mat-icon>search</mat-icon>
    </span>
  </div> -->
  