<table mat-table [dataSource]="items" class="mat-elevation-z1 styled-table">

  <!-- Define all columns -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef><mat-checkbox disabled></mat-checkbox></th>
  </ng-container>

  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product</th>
  </ng-container>

  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef>SKU</th>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Brand</th>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef>Unit</th>
  </ng-container>

  <ng-container matColumnDef="qty">
    <th mat-header-cell *matHeaderCellDef>Qty</th>
  </ng-container>

  <ng-container matColumnDef="createdby">
    <th mat-header-cell *matHeaderCellDef>Created by</th>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Row Component -->
  <ng-container *ngFor="let item of items">
    <app-row [rowData]="item"></app-row>
  </ng-container>

</table>