.product-right-header{
    display: flex;
    padding: 16px;
}

.product-head{
    display: flex;
    justify-content: space-between  ;
}
.funnel-sort{
    display: flex;

}
.search-filter-sort{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    border-bottom: solid 1px grey;
}


.content{
  margin: 10px;
  background-color: white;
  border-radius: 1%;
  border:solid 1px;
  border-color: grey;
  padding: 5px;
}

