<div class="product-head">
  <app-title-subtitle 
    [title]="'Product List'" 
    [subtitle]="'Manage your products' ">
  </app-title-subtitle>
  <div class="product-right-header">
    <app-nav-icons></app-nav-icons>

    <app-button
      text="Add New Product" 
      icon="assets/add.png" 
      [backgroundColor]="'#FF9B44'">
    </app-button>
    
    <app-button 
      text="Import Product" 
      [backgroundColor]="'#1B2A47'"
      icon="assets/download.png" 
      >
    </app-button>
  </div>
</div>

<div class="search-filter-sort">
  <app-search-bar></app-search-bar>

  <div class="funnel-sort">
    <app-highlight-funnel></app-highlight-funnel>
    <app-sort-by-date></app-sort-by-date>
  </div>
</div>
<div class="hello">
  <app-th  [items]="items"></app-th>
</div>

  
