<tr mat-row>
    <td mat-cell><mat-checkbox disabled></mat-checkbox></td>
    <td mat-cell>
      <app-image-label [imageUrl]='rowData.image' [label]='rowData.product'></app-image-label>
    </td>
    <td mat-cell>{{ rowData.sku }}</td>
    <td mat-cell>{{ rowData.category }}</td>
    <td mat-cell>{{ rowData.brand }}</td>
    <td mat-cell>${{ rowData.price }}</td>
    <td mat-cell>{{ rowData.unit }}</td>
    <td mat-cell>{{ rowData.qty }}</td>
    <td mat-cell>
      <app-image-label [imageUrl]="rowData.avatar" [label]="rowData.createdby"></app-image-label>
    </td>
    <td mat-cell>
      <app-action-icons></app-action-icons>
    </td>
  </tr>
  