<tr mat-row>
    <td mat-cell style="padding-left: 1.2vw;"><mat-checkbox disabled></mat-checkbox></td>
    <td mat-cell>
      <app-image-label [imageUrl]='rowData.image' [label]='rowData.product'></app-image-label>
    </td>
    <td mat-cell class="align ">{{ rowData.sku }}</td>
    <td mat-cell class="align">{{ rowData.category }}</td>
    <td mat-cell class="align">{{ rowData.brand }}</td>
    <td mat-cell class="align">{{ rowData.price }}</td>
    <td mat-cell class="align">{{ rowData.unit }}</td>
    <td mat-cell class="align">{{ rowData.qty }}</td>
    <td mat-cell>
      <app-image-label [imageUrl]="rowData.avatar" [label]="rowData.createdby"></app-image-label>
    </td>
    <td mat-cell>
      <app-action-icons></app-action-icons>
    </td>
  </tr>
  