.icon-button{
    background-color: white;
    border-color: #fafafa;
    border: 1px solid #eaeaea; 
    cursor: pointer;
    padding: 6px 6px;
    border-radius: 6px;
    color: #141d25;
}
.icon-images{
    width: 24px;
    height: 24px;
}